
{% extends 'base.html' %}

<body>
    {% block content %}
    {% if user.is_authenticated %}
         <div class="about">
            <form action="{% url 'CreateBook' %}" >
                <button class="submit" type="submit">Добавить книгу</button>
            </form>
        </div>
	<div class="main">
    {% for book in user.books_set.all %}
		<div class="row">
			<div class="column">
				<div class="content">
                    <a href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt={{ book.title }} >
				</div>
			</div>
		</div>
    {% endfor %}
    {% else %}
         <div class="about">
            <p>You are not logged in:</p>
            <form action="{% url 'login' %}" >
                <button class="submit" type="submit">Log In</button>
            </form>
        </div>
    {% endif %}
	</div>
    {% endblock %}

</body>
