{% extends 'base.html' %}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
{% block title %}Log In{% endblock title %}
{% block content %}

<div class="about">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="submit" type="submit">Log In</button>
        </form>

        <form action="{% url 'signup' %}">
            <label for="signup">Doesn't have account? Then:</label>
            <button class="submit" type="submit" name="signup">Sign Up</button>
        </form>
    </div>
{% endblock content %}